$header-color: #3e849e;
$color-section2: #2c5f78;
$bg-color-section4: #111f28;
$white: #f5f5f5;
$black: #111111;
$px-container-m: 10px;
$py-container-d: 150px;

@mixin padding_sm(){
  padding: {
    left: $px-container-m;
    right: $px-container-m;
    top: 60px;
    bottom: 60px;
  };
}

@mixin padding_md(){
  padding: {
    left: 60px;
    right: 60px;
    top: $py-container-d;
    bottom: $py-container-d;
  };
}

html {
  font-size: 16px;
}

//header
.navbar {
  display: block;
  padding: {
    top: 10px;
    bottom: 10px;
    left: $px-container-m;
    right: $px-container-m;
  };
  color: $black;
  font-size: 1rem;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);

  .logo{
    display: flex;
    align-items: center;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  a:hover{
    color: #dcdcdc;
  }

  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

    img {
      height: 2rem;
      margin-right: 6px;
    }
  }

  .menu {
    padding-left: 0px;
    margin: 0px;

    li {
      list-style: none;
      padding-top: 8px;
    }
  }
}

//section 1
#section1{
  @include padding_sm();
  color: $black;
  display: flex;
  align-items: center;

  .image{
    display: none;
  }

  h1{
    font-weight: bold;
  }
  p{
    font-size: 1rem;
  }
}

//section 2
#section2{
  @include padding_sm();
  background-color: $color-section2;
  color: $white;
  text-align: center;

  h1{
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
  }
  p{
    font-size: 1rem;
  }
  a{
    color: $white;
    text-decoration: underline;
  }
}

//section3
#section3{
  @include padding_sm();
  color: $black;
  .image{
    width: 50%;
    margin: auto;
  }
  h1{
    text-align: center;
    font-weight: bold;
  }
}

//section4
#section4{
  @include padding_sm();
  background-color: $bg-color-section4;
  color: $white;
  text-align: center;
  .image{
    width: 50%;
    margin: auto;
    background-color: $white;
    padding: 10px;
    border-radius: 1rem;
  }
  .content{
    padding-top: 20px;
  }
  p{
    text-align: center;
    font-size: 1rem;
  }
  a{
    color: $white;
    text-decoration: underline;
  }
}

.footer{
  padding: {
    top: 30px;
    bottom: 30px;
  };

  text-align: center;
  font-size: .8rem;
}

@media screen and (min-width: 576px) {
  .icon {
    display: none;
  }
  .navbar {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    span{
      font-size: 1.8rem;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  #section1{
    text-align: center;
    padding: {
      left: 60px;
      right: 60px;
      top: 60px;
      bottom: $py-container-d;
    };

    .image{
      display: inline-block;
      width: 40%;
    }
    .content{
      width: 60%;
    }
    h1{
      font-size: 5rem;
      line-height: 6rem;
    }
    p{
      font-size: 2rem;
    }
  }

  #section2{
    @include padding_md();
    text-align: center;
    h1{
      font-size: 4rem;
      line-height: 6rem;
    }
    p, a{
      font-size: 2rem;
    }
  }

  #section3{
    @include padding_md();
    display: flex;
    align-items: center;
    h1{
      font-size: 4rem;
    }
    .image{
      display: block;
      width: 40%;
    }
    .content{
      width: 60%;
    }
  }

  #section4{
    @include padding_md();
    display: flex;
    align-items: center;
    .image{
      width: 50%;
    }
    .content{
      width: 50%;
      padding-top: 0;
      padding-left: 40px;
    }
    p, a{
      text-align: left;
      font-size: 2rem;
    }
  }

  .footer{
    font-size: 1rem;
  }
}